<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.najoon.study.persistance.CommentDao">
 
 	<select id="selectAll" resultType="CommentVO">
 		SELECT * FROM tbl_comment
 	</select>
 	 
 	<select id="findByComment" resultType="CommentVO">
 		SELECT * FROM tbl_comment WHERE c_seq = #{c_seq}
 	</select>
 	
 	<select id="findByGroupComment" resultType="CommentVO">
 		SELECT * FROM tbl_comment
					WHERE c_groupseq = #{c_groupseq}
 	</select>

 	<insert id="insert" parameterType="CommentVO">
		INSERT INTO tbl_comment(
			c_groupseq,
			c_username,
			c_date,
			c_time,
			c_comment
		)VALUES(
			#{c_groupseq},
			#{c_username},
			#{c_date},
			#{c_time},
			#{c_comment}
		)
 	</insert>
 	
 	<update id="update" parameterType="CommentVO">
 	</update>
 	
 	<delete id="delete" parameterType="CommentVO">
		DELETE FROM tbl_comment WHERE c_seq = #{c_seq}
 	</delete>
 
 	<select id="create_group_table">
		CREATE TABLE IF NOT EXISTS tbl_comment(
			c_seq BIGINT AUTO_INCREMENT PRIMARY KEY,
			c_groupseq BIGINT NOT NULL,
			c_username VARCHAR(20) NOT NULL,
			c_date VARCHAR(20),
			c_time VARCHAR(20),
			c_comment VARCHAR(500)
		)
 	</select>	

 </mapper> 