<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.najoon.study.persistance.TrophyDao">
 
 	<select id="selectAll" resultType="TrophyVO">
 		SELECT * FROM tbl_trophy
 	</select>
 	 
 	<select id="findByUserTrophy" resultType="TrophyVO">
 		SELECT * FROM tbl_trophy WHERE t_username = #{t_username}
 	</select>
 	
 	<select id="findByOneTrophy" resultType="TrophyVO">
 		SELECT * FROM tbl_trophy WHERE t_username = #{t_username} AND t_groupseq = #{t_groupseq}
 	</select>

 	<insert id="insert" parameterType="TrophyVO">
		INSERT INTO tbl_trophy(
			t_groupseq,
			t_groupname,
			t_username,
			t_complete,
			t_trophy
		)VALUES(
			#{t_groupseq},
			#{t_groupname},
			#{t_username},
			#{t_complete},
			#{t_trophy}
		)
 	</insert>
 
 	<select id="create_group_table">
		CREATE TABLE IF NOT EXISTS tbl_trophy(
			t_seq BIGINT AUTO_INCREMENT PRIMARY KEY,
			t_groupseq BIGINT NOT NULL,
			t_groupname VARCHAR(20) NOT NULL,
			t_username VARCHAR(20) NOT NULL,
			t_complete VARCHAR(5),
			t_trophy boolean
		)
 	</select>	

 </mapper> 